.question__hints {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 20px;
}

.question__hint {
	font-size: 28px;
	border: 3px solid #000000;
	padding: 8px;
	border-radius: 10px;
}

.question__hint svg {
	display: inline;
	vertical-align: sub;
}

.dark .question__hint {
	border: 3px solid #FFFFFF;
}

.question__hint--used {
	background-color: #ff0000 !important;
	border-color: #ff0000 !important;
	opacity: 0.7;
	cursor: not-allowed;
}

.question__hint--used svg {
	color: #ffffff;
}

