.footer__content {
	background-color: #000000;
	padding-inline: 100px;
	padding-block: 30px;
	margin-top: 120px;
}

.dark .footer__content {
	border-top: 1px solid #555555;
}

.copyright {
	font-weight: 700;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
}

.footer__links {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	gap: 5px;
}

.footer__link {
	color: #FFFFFF;
	padding: 8px;
	transition: .3s ease-in;
}

.footer__link svg {
	display: inline;
	vertical-align: sub;
}

.footer__link:hover {
	color: #9c93e5;
}