.footer__content {
	background-color: #000000;
	padding-inline: 100px;
	padding-block: 30px;
	position: fixed;
	bottom: 0;
	min-width: 100%;
}

.dark .footer__content {
	border-top: 1px solid #555555;
}

.copyright {
	position: fixed;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	font-weight: 700;
	font-size: 18px;
	color: #FFFFFF;
}