.footer__content {
	background-color: #000000;
	padding-inline: 100px;
	padding-block: 30px;
	display: flex;
	justify-content: center;
	margin-top: 120px;
}

.dark .footer__content {
	border-top: 1px solid #555555;
}

.copyright {
	font-weight: 700;
	font-size: 18px;
	color: #FFFFFF;
}